{% extends 'adminpanel/admin_base.html' %}
{% load static %}

{% block title %}
       ADMINPANEL | EDIT CONTENT
{% endblock %}

{% block content %}
<div class="container mt-5 pt-4">
    <div class="card shadow-sm p-4 mb-5 bg-white rounded">
        <h3>Edit Content: {{ content.content_name }}</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Update Content</button>
        </form>
    </div>
</div>
{% endblock %}
