{% extends 'adminpanel/admin_base.html' %}
{% load static %}
{% block title %}
    ADMINPANEL | PROFILE LIST
{% endblock %}

{% block content %}
<div class="container mt-5 pt-4">
    <div class="row mb-2">
        <div class="col-12 text-center">
            <h2 style="font-style: italic; font-weight: 900;">Profile List</h2>
        </div>
    </div>
    <div class="row">
        {% for profile in profile_list %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm p-4 bg-white rounded d-flex flex-column h-100">
                <div class="d-flex justify-content-between">
                    <div class="flex-grow-1">
                        <h4>{{ profile.user.username }}</h4>
                        <p><strong>Email:</strong> {{ profile.user.email }}</p>
                        <p><strong>Status:</strong> {% if profile.is_blocked %}Blocked{% else %}Active{% endif %}</p>
                    </div>
                    <div class="ms-3">
                        {% if profile.profile_image %}
                        <img src="{{ profile.profile_image.url }}" alt="{{ profile.user.username }}" class="img-fluid rounded" style="max-width: 100px;">
                        {% else %}
                        <img src="{% static 'assets/img/blank_profile.jpg' %}" alt="Default Profile Image" class="img-fluid rounded" style="max-width: 100px;">
                        {% endif %}
                    </div>
                </div>
                <div class="mt-3 d-flex justify-content-between">
                    <a href="{% url 'adminpanel:view_profile' profile.id %}" class="btn btn-primary me-2 w-100"><i class="fas fa-eye"></i> View</a>
                    <form method="POST" action="{% url 'adminpanel:toggle_profile_status' profile.id %}" class="w-100">
                        {% csrf_token %}
                        {% if profile.is_blocked %}
                            <button type="submit" class="btn btn-success w-100"><i class="fas fa-check"></i> Unblock</button>
                        {% else %}
                            <button type="submit" class="btn btn-danger w-100"><i class="fas fa-ban"></i> Block</button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
