{% extends 'studentpanel/student_base.html' %}
{% load static %}
{% block title %}
   STUDENTPANEL | EDIT PROFILE
{% endblock %}

{% block content %}
    <div class="container mt-5 pt-4">
        <div class="card shadow-sm p-4 mb-5 bg-white rounded">
            <h3>Edit Profile</h3>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" value="{{ username }}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            <input type="text" class="form-control" id="first_name" name="first_name" value="{{ first_name }}">
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input type="text" class="form-control" id="last_name" name="last_name" value="{{ last_name }}">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" value="{{ email }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.profile_image.label_tag }}
                            {{ form.profile_image }}
                            {% if form.profile_image.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ form.profile_image.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.phone.label_tag }}
                            {{ form.phone }}
                            {% if form.phone.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ form.phone.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>
        </div>
    </div>
{% endblock %}
